table {
  width: 50%;
  border-collapse: collapse; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: grey;
  
}

th, td {
  border: 1px solid #dddddd; 
  text-align: center;
  padding: 8px;
}

thead {
  color: white;
}