<div class="crud-container">
  <h2>Registro de Usuarios</h2>

  <form (submit)="gestionarEnvio($event)" class="user-form">
    <div class="input-group">
      <input type="number" name="idUsuario" placeholder="ID (Único)" required>
      <input type="text" name="nombreUsuario" placeholder="Nombre" required>
      <input type="text" name="apellidosUsuario" placeholder="Apellidos" required>
      <input type="email" name="emailUsuario" placeholder="Email (Único)" required>
    </div>
    <button type="submit" [style.background-color]="isEditing ? '#007bff' : '#28a745'">
        {{ isEditing ? 'Guardar Cambios' : 'Registrar Usuario' }}
    </button>
  </form>

  <hr>

  <h3>Listado de Usuarios</h3>
  <table *ngIf="usuarios.length > 0; else noUsers">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <td>{{ u.id }}</td>
        <td>{{ u.nombre }} {{ u.apellidos }}</td>
        <td>{{ u.email }}</td>
        <td>
            <button (click)="prepararEdicion(u)" class="btn-edit">Editar</button>
            <button (click)="borrarUsuario(u.id)" class="btn-delete">Eliminar</button>
        </td>
        </tr>
    </tbody>
  </table>

  <ng-template #noUsers>
    <p>No hay usuarios registrados todavía.</p>
  </ng-template>
</div>